%section.banner
  %h1 Modern Real Estate Sites, IDX Property Search

  #circle_container
    %article#designs
      = image_tag 'icons/designs.png'
      %h2 Beautiful Designs

    %article#feature
      = image_tag 'icons/features.png'
      %h2 Feature Rich

    %article#editable
      = image_tag 'icons/editable.png'
      %h2 Fully Editable

%section.marketing.gray
  %article
    %h1 We're here to make the website you've always wanted.
    .copy
      If you can imagine it, we can do it. We're a team of highly experienced developers and designers that can make anything from a standard agent website to a fully functioning web application with entirely custom behavior. Our sites our very affordable from the start. If you want custom features  we can help you make the right decisions about both cost and technology.
    .actions
      = link_to "Request a Quote", quote_path

%section.marketing.platform
  %article
    %h1 Our standard platform is packed with great features.
    .copy
      We have a pre-built platform that handles most agent and broker websites. Here's what comes standard:
    .icons
      .feature
        = image_tag 'icons/pages.png'
        .name Custom Pages

      .feature
        = image_tag 'icons/content.png'
        .name Edit Any Content

      .feature
        = image_tag 'icons/team.png'
        .name Manage your Team

      .feature
        = image_tag 'icons/search.png'
        .name IDX Property Search

      .feature
        = image_tag 'icons/mobile.png'
        .name Mobile and Tablet Friendly

      .feature
        = image_tag 'icons/seo.png'
        .name Designed for SEO

%section.marketing.contact
  %article
    %h1 Contact Us
    .half
      = image_tag 'icons/phone.png'
      %h2 (512) - 555- 5555
    .half
      = image_tag 'icons/mail.png'
      %h2 contact@modernidx.com

  .clear
