%section.banner.quote_banner
  %h1 Request a Quote

%section#quote.marketing
  %article

    - if flash[:notice]
      .notice= flash[:notice]

    %h1 You're one step away from an incredible website.

    = form_for quote, url: quote_path do |f|

      %dl
        %dt= f.label :name
        %dd= f.text_field :name

      %dl
        %dt= f.label :email
        %dd= f.text_field :email

      %dl
        %dt= f.label :organization
        %dd= f.text_field :organization

      %dl
        %dt
          = f.label :description
          .small What do you want to build?
        %dd= f.text_area :description

      %dl
        %dt
        %dd= f.submit "Send Request"

:javascript
  $(document).ready( function() {
    $('#quote_name').focus();
  });
