!!!
%html
  %head
    %title ModernIDX
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://mailtime.herokuapp.com/assets/mailtime.js"
    = csrf_meta_tags
    %meta(name="google-site-verification" content="jaVyWji8broKfNRuRI9EP2WA7FMduNNwU6SoRzpPxmg")
  %body
    %header
      %nav
        = active_link_to "Home", root_path, class: 'active', exact: true
        -# = link_to "Solutions", '#'
        -# = link_to "Our Work", '#'
        = active_link_to "Request a Quote", quote_path
      #logo
        = link_to root_path do
          = image_tag 'logo.png'
    = yield
    %footer
      = image_tag 'footer_logo.png'
